body {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.game-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.8);
    opacity: 0;
    visibility: hidden;
}

.game-loader.active {
    opacity: 1;
    visibility: visible;
}

.game-loader img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
}

.game-toolbar {
    margin: 40px auto 0 auto;
    max-width: 804px;
}

.game-toolbar:after {
    content: '';
    clear: both;
    display: table;
}

.game-toolbar .game-toolbar-difficulty .label {
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 40px;
    height: 40px;
}

.game-toolbar .game-toolbar-difficulty .options {
    display: inline-block;
    vertical-align: top;
}

.game-toolbar .game-toolbar-difficulty .options .option {
    display: inline-block;
    vertical-align: top;
    height: 40px;
    font-size: 14px;
    padding: 0 10px;
    text-transform: uppercase;
    line-height: 40px;
    background: #e2e7ed;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.game-toolbar .game-toolbar-difficulty .options .option.option-active,
.game-toolbar .game-toolbar-difficulty .options .option:hover {
    background: #def;
}

.game-toolbar .game-toolbar-new-game {
    float: right;
    height: 40px;
    font-size: 14px;
    padding: 0 10px;
    text-transform: uppercase;
    line-height: 40px;
    background: #e2e7ed;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.game-toolbar .game-toolbar-new-game:hover {
    background: #def;
}

.game-wrapper {
    margin: 40px auto 0 auto;
    text-align: center;
    max-width: 804px;
}

.game-wrapper:after {
    content: '';
    clear: both;
    display: table;
}

.game-table {
    border: 2px solid #344861;
    float: left;
    border-right: none;
    border-bottom: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.game-table .game-row:after {
    content: '';
    clear: both;
    display: table;
}

.game-table .game-row.game-row-active {
    background: #e2e7ed;
}

.game-table .game-row .game-cell {
    border: 1px solid #bec6d4;
    float: left;
    border-bottom: none;
    border-right: none;
}

.game-table .game-row .game-cell:nth-child(3n) {
    border-right: 2px solid #344861;
}

.game-table .game-row:nth-child(3n) .game-cell {
    border-bottom: 2px solid #344861;
}

.game-table .game-row .game-cell span {
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-weight: 300;
    cursor: pointer;
}

.game-table .game-row .game-cell.game-cell-column-active span {
    background: #e2e7ed;
}


.game-table .game-row .game-cell.game-cell-active span,
.game-table .game-row .game-cell.game-cell-active span:hover {
    background: #def;
}

.game-table .game-row .game-cell span:hover {
    background: #eaeaea;
}

.game-table .game-row .game-cell.game-cell-edited span {
    position: relative;
}

.game-table .game-row .game-cell.game-cell-edited span:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.15);
    z-index: 5;
}

.game-table .game-row.game-row-invalid .game-cell span,
.game-table .game-row .game-cell.game-cell-invalid span {
    background: #f7cfd6 !important;
}

.game-table.game-complete .game-row .game-cell span {
    background: #d1f5d3 !important;
}

.game-controller {
    float: right;
    border: 1px solid #bec6d4;
    border-bottom: 2px solid #bec6d4;
    border-right: 2px solid #bec6d4;
    margin: 0 0 0 60px;
}

.game-controller .game-controller-button {
    float: left;
    width: 90px;
    height: 90px;
    line-height: 90px;
    font-weight: 700;
    font-size: 20px;
    border: 1px solid #bec6d4;
    border-bottom: none;
    border-right: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.game-controller .game-controller-button:hover {
    background: #def;
}


.game-controller .game-controller-button:nth-child(3n+1) {
    clear: left;
}